*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    overflow-x: hidden;
}
@keyframes upToDown{49%{transform:translateY(100%)}50%{opacity:0;transform:translateY(-100%)}51%{opacity:1}}
@keyframes move2{0%{transform:rotate(1deg) translate(2px,2px)}50%{transform:rotate(-1deg) translate(-2px,-2px)}100%{transform:rotate(1deg) translate(2px,2px)}}
.header{
    background-image: url(img/pic2.png);
    background-size: 100%;
    background-position: top;
    width: 100%;
}
.container .content ul li span {
    display: inline-block;
}

.container .content ul li:hover span{
    animation: upToDown .3s forwards;
}

.container .content ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.container .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    margin: auto;
    max-width: 1200px;
}
.container .content div{
    display: inline-block;
}
.container .content ul a{
    text-decoration: none;
    margin-right: 30px;
    color: black;
   
}
.container .content li a:hover{
    color: #f55f8d;
}
.container .content li i{
    font-size: 9px;
    margin-top: -5px;
    vertical-align: middle;
}

.container .content nav{
    display: flex;
    align-items: center;
}
.container .content ul li{
    margin: 50px 0px;
}
.btn-gradient{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;
}
.btn-gradient:hover {
    background-position: right center;
}
.carousel{
    padding-top: 40px;

    display: flex;
    
}
.carousel__title{
    width: 65%;
    padding-left: 80px;

}
.title__p{
    color: #F55F8D;
    font-weight:600;
    font-size: 20px;
    margin: 20px 0px;
}
.title__h1{
    font-size: 70px;
    color: #262626;
    margin-bottom: 20px;
}
.carousel__title p:last-of-type{
    font-size: 18px;
    color: #767676;
    margin: 20px 0px;
}
.carousel__title li{
    color: #767676;
    list-style: none;
    margin: 30px 0px;
    font-size: 20px;
}
.carousel__title li i{
    color: white;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 50%;
    background-size: 200%;
}
.carousel__img{
    width: 35%;    
}
.services{
    width: 100%;
    margin: auto;
    background-image: url(img/bg2.png);
    background-position: top center;

}
.services__title{
    
    text-align: center;
    margin-top: 75px;
}
.services__content{
    width: 33.3%;
    text-align: center;
    background-color: #fff;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    transition: all .5s;

}
.services__content:hover{
    transform: translateY(-20px);

}
.services__content:nth-of-type(2){
    margin-left: 25px;
    margin-right: 25px;
}
.services__container{
    display: flex;
    margin-bottom: 100px;
    width: 1200px;
    margin-left: 80px;
}
.services__content img{
    width: 215px;
    margin-top: 30px ;
}
.services__content h1{
    margin: 20px 0px;
    color: #262626;
}
.services__content p{
    color: #767676;
    margin-bottom: 30px;
    padding: 0px 46px;
}
.us_about{
    width: 100%;
    display: flex;
    background-image: url(img/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
}
.us_about__left{
    width: 50%;


    
}
.us_about__left img{
    max-width: 100%;
    margin: 100px 0px 0px -118px;
    border-radius: 0px 80px 80px 0px;
    
}
.us_about__right{
    width: 50%;
    padding-right: 60px;
}
.title__P{
    color: #636363;
    margin-top: 20px;
}
.us_about__right li{
    list-style: none;
    margin: 20px 0px;
    color: #636363;
}
.us_about__right li i{
    font-size: 22px;
    color: #f55f8d;
}
.number{
    width: 100%;
    background-image: url(img/bg14.png);
    background-position: center;
    margin-top: 80px;
    padding-top: 80px;
}
.number .container{
    margin: auto;
    width: 80%;
    

}
.number__content{
    display: flex;
    
}
.number .number__item{
    text-align: center;
    width: 25%;
}
.number .number__item p:first-of-type{
    color: #f55f8d;
    font-size: 70px;
    padding-top: 20px ;
}
.number .number__item p:last-of-type{
    color: #262626;
    
}
.number .number__item i{
    font-size: 40px;
    color: #fff;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 50%;
}
.our__featuares__bg{
    background-image: url(img/bg2.png);
    background-size: 100%;
    background-position: center;
    
}
.our__featuares{
    margin: auto;
    
}
.featuares__container{
    width: 100%;
    display: flex;
    margin-top: 120px;

}
.featuares__left{
    width: 50%;
    padding-left: 100px;
}
.features__group{
    
    display: flex;
   
    background-color: white;
    margin-right: 72px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);

}
.features__group:hover{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: white;
}
.features__group:hover .features__group__i {
    color: white;
}
.features__group:hover .features__group__titile p{
    color: white;
}
.features__group:nth-of-type(2){
    margin: 20px 0px 20px 73px;
}
.features__group__i{
    width: 20%;
    color: #f55f8d;
    font-size: 70px;
    padding: 25px 15px;
}

.features__group__titile{
    width: 80%;
    padding: 30px 10px;
    
}
.features__group__titile p{
    color: #636363;
}
.featuares__right{
    width: 50%;
   
}

.features__banner {
    margin-right: -80px;
    width: 100%;
}
.featuares__right img{
    max-width: 100%;
    animation: move2 5s infinite;
    
}
.protfolio__section-inner{
    margin: 90px 0px;
}
.protfolio__section-inner .container{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.protfolio__section-inner .container h2{
    margin-bottom: 25px;
}
.protfolio__section-inner .container .protfolio__content{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}
.portfolio__item1 {
    grid-column: 1/span 2;
}
.portfolio__item5 {
    grid-column: 1/span 2;
}
.portfolio__item6 {
    grid-column: 3/4;
    grid-row: 2/4;
}
.protfolio__item img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.protfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: all .75s;
}
.protfolio__icon {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px); 
}
.protfolio__text {
    position: absolute;
    bottom: 190px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    color: #fff;
}
.choose_Your_Plan{
    width: 100%;
    background-image: url(img/bg16.png);
    background-size: cover;
    background-position: center;
}
.plan__title{
    text-align: center;
}
.plan__table{
    display: flex;
    max-width: 1200px;
    margin: auto; 
    margin-top: 50px;
}
.plan__item{
    width: 33.3%;
    border: 3px solid white;
    background-color: white;
    padding-left: 120px;
    margin: 30px 10px;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    border-radius: 15px;
    

}
.plan__item span{
    font-size: 40px;
    color: #f8ae56;
    font-weight: 800;
}
.plan__item p{
    font-size: 17px;
    font-weight: 600;
}
.plan__item h1{
    font-size: 30px;
    margin-top: 25px;
}
.plan__item img{
    width: 125px;
    margin: 10px 0px;
}
.plan__item ul li{
    margin: 15px -30px;
    list-style: none;
}
.plan__item i{
    margin-right: 6px;
    font-size: 20px;
    background-color: #feeff3;;
    color: #f55f8d;
    border-radius: 50%;
}
.plan__item button{
    margin-bottom: 25px;
}
.plan__item:hover {
    border-image: url(img/br.png) 1 round;
}
.footer{
    background-image: url(../img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}
.footer__top{
    background-image: url(img/pattern3.png);
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}
.footer__text{
    width: 50%;
    padding-left: 50px;
    color: #fff;
    font-size: 17px;
    color: black;

}
.footer__form{
    width: 50%;
}
.footer__form form{
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__form input{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
    width: 400px;
    height: 68px;
}
.footer__form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer;
}
.footer__bottom{
    display: flex;
    margin-top: 65px;

}
.footer__item li {
    display: flex;
    margin: 20px 0px;
}
.footer__item ul a{
    color: #636363;
    text-decoration: none;
}
.footer__item ul a:hover{
    color: #fff;
}
.footer__item ul a i{
    padding-right: 5px;
}
.footer__item .line__titile{
    margin-bottom: 40px;
}
.footer__item .line{
    width: 15px;
    height: 4px;
    border-radius: 20px;
    display: inline-block;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer__item .line_affter{
    width: 40px;
    height: 4px;
    border-radius: 20px;
    display: inline-block;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer__item {
    width: 25%;
    
}
.footer__item__content i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
    font-size: 10px;
}
.footer .footer__copyright{
    background-color: #1F343B;
    color: white;
    padding: 12px 0px;
}
.footer .footer__copyright span{
    color: #f55f8d;
}
.footer__content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer__content_right a{
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: all .5s;
}
.footer__content_right a:hover{
    background-color: #f55f8d;
}
.plan{
    background-image: url(img/bg17.png);
    background-position: center;
    background-size: 100%;
}
.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
  }
  
  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: pink;
  }
  
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    margin-top: 35px;
  }
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  .testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide.swiper-slide-thumb-active.swiper-slide-active::before {
     width: 17px;
     height: 17px;
     border-radius: 50%;
     background-color: #f55f8d;
     transform: translateX(-50%);
     content: "";
     bottom: 20px;
     position: absolute;

  }
  
  .swiper-slide.swiper-slide-thumb-active.swiper-slide-active::after {
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color: #f55f8d;
     transform: translateX(-50%);
     content: "";
     bottom: 1px;
     position: absolute;

  }
  .swiper-slide.swiper-slide-active.swiper-slide-thumb-active .testimonial-pic .shape-bx::after {
      content: "";
      background-image: url(img/pattern12.png);
      width: 100%;
      height: 20px;
      

}
  
.swiper-slide.swiper-slide-active.swiper-slide-thumb-active .testimonial-pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
   
    transition: all 1s;
    background-color: #f55f8d;
}
.swiper-slide.swiper-slide-active.swiper-slide-thumb-active .testimonial-pic .shape-bx::after {
    position: absolute;
    content: "";
    background-image: url(img/pattern12.png);
    width: 52px;
    height: 34px;
    left: 50%;
    transform: translateX(-50%) scale(1.15);
}
.footer::before  {
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.testimonial-text i{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 60px;
    color: #f55f8d;
    transform: rotate(-180deg);
    padding: 0 215px 36px 0 ;
}
.swiper-slide .testimonial-text strong{
    font-size: 20px;
    font-weight: 600;

}
.swiper-slide .testimonial-text p:first-of-type{
    font-size: 20px;
    color: #f55f8d;
    margin: 10px 0px 30px 0px;

}
.swiper-slide .testimonial-text p:last-of-type{
        color: #636363;
        font-style: italic;
        padding: 0 15px 15px;
        font-size: 18px;
        line-height: 30px;
}
.blog{
    background-image: url(img/bg16.png);
    background-position: top center;

}
.blog .container{
    max-width: 1200px;
    margin: auto;
}
.blog .blog__title{
    text-align: center;

}
.owl-carousel .item{
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px;
    margin-left: 20px;
}
.blog__header {
    position: relative;
}
.owl-carousel img {
    display: block;
    width: 100%;
    border-radius: 15px;
}
.blog__header p {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}
.blog__body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.blog__body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}
.blog__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05);
}
.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}
.blog__footer p:first-of-type span {
    color: #f55f8d;
}
.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}
.blog__footer p{
    padding-right: 20px;
}
.blog__body p{
    color: #767676;
}
.protfolio__item:hover .protfolio__overlay {
    opacity: 1;
}
